body {
  color: $color-dark-blue;
  font-family: $font-family-sans;
  // @include baseline-grid-background(26px, #ccc);
}

// Use border-box model
* {
  @include box-sizing('border-box');
}

// Typography rhythm
@include establish-baseline;

// Headings

h1 {
  @include adjust-font-size-to(32px);
}

h2 {
  @include adjust-font-size-to(20px);
}

h3 {
  @include adjust-font-size-to(16px);
}

h4 {
  @include adjust-font-size-to(14px);
}

h5 {
  @include adjust-font-size-to(12px);
}

h1, h2, h3, h4, h5, h6 {
  @include adjust-leading-to(1,26px);
}

hr {
  display: none;
}


// Common
.element--invisible {
  @extend %element-invisible;
}

.img--left {
  float: left;
  margin-top: 0.25em;
  margin-right: 1em;
}

.img--article {
  display: inline;
  padding: 4px;
  border: 1px solid #3E5960;
  border-bottom-color: #33494F;
  @include box-shadow(0 3px 0 #3A5158);
}
