.l-wrapper {
  clear: both;
  max-width: 93.75%;
  margin: 0 auto;
  @extend %clearfix;

  @include breakpoint($breakpoint-narrow) {
    max-width: 95%;
  }
  @include breakpoint($breakpoint-wide) {
    max-width: 950px;
  }

  //@include background-grid;
}

.l-list--inline {
  @include inline-list;
}

// Build grid
@include breakpoint($breakpoint-narrow) {
  @for $i from 1 through $grids {
    .grid-#{$i} {
      @include float-span($i);

      @if 1 < $i and $i < 7 {
        $last-grid: $grids/$i;
        @if round($last-grid) == $last-grid {
          &:nth-child(#{$last-grid}n) {
            @include float-span($i, 'omega');
          }
        }
      }
    }
  }
}

// Header
#header {
  background-color: $color-light-blue;
  position: relative;
  z-index: 15;
}

.header--wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}

// Logo
#logo {
  @include grid-span(3, 1);
  margin-top: 0;
  margin-bottom: 0;
}

.site--logo {
  @include replace-text-with-dimensions('hinesna-logo.png',0,0);
  display: block;
}

// Content
.section-content {
  padding-top: (20/14) * 1em;
  padding-bottom: (25/14) * 1em;

  @include breakpoint($breakpoint-narrow) {
    padding-top: 3.15em;
    padding-bottom: 2.25em;
  }
}

// Postscript
.section-postscript {}

// Bottom
.section-bottom {
  background-image: image-url('bottom-bg.jpg');
  background-position: center bottom;
  @include background-size(cover);
}

// Footer
.section-footer {
  color: white;
  background-color: #2A383D;
}
