// Nav main
.nav--main {
  @include grid-span(7, 5);
  margin-top: 1em;
  margin-bottom: 1em;
}

.menu--main {
  font-family: $font-family-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.025em;

  li {
    float: left;
    margin-left: 8.5%;

    &:first-child {
      margin-left: 0;
    }
  }
  a {
    text-decoration: none;
    color: $color-dark-blue;
  }
  i {
    display: block;
    font-family: $font-family-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
    color: lighten($color-dark-blue, 20%);
  }
}

// Search
.form--search {
  @include grid-span(1,12);
  position: relative;
  margin-top: 15px;

  input[type=text] {
    font-family: $font-family-serif;
    color: #A2C3CA;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 35px;
    padding: 0 35px 0 (35px/2);
    border: none;
    @include border-radius(35px/2);
    display: none;
  }

  input[type=submit] {
    float: right;
    position: relative;
    font-size: 0;
    width: 35px;
    height: 35px;
    z-index: 10;
    border: none;
    background-color: #A2C3CA;
    @include border-radius(35px/2);

  }
}

// Banner
.section-banner {
  background-image: image-url('top-banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);
}

.block--banner {
  @include grid-span(5, 8);
  @include style-3dbox($bc: #BBD1D6, $bs: transparentize(#5A8995, 0.28), $bg: rgba(255,255,255,0.9));

  margin-top: 2.5em;
  margin-bottom: 2.75em;
  padding: 28px 35px;

  img {
    border: 4px solid #ececec;
    display: inline-block;
    vertical-align: top;
    @include border-radius(4px);
  }
}

.block--cta {
  @include grid-span(6, 1);
  @include style-3dbox($bw: 2px, $bc: #49676F, $bs: #5A8995, $bg: rgba(255,255,255,0.3));
  overflow: hidden;

  h2 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;

    a {
      color: #49676F;
      display: block;
      text-decoration: none;
      padding-top: 1.125em;
      padding-bottom: 0.96em;

      @include transition(background-color 0.5s);

      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }

  .section-banner & {
    margin-top: 162px;
  }
}

.links--banner {
  li:not(:first-child):before {
    content: '·';
    display: inline-block;
    font-weight: bold;
    color: #EAA206;
    font-size: 1.25em;
    margin-left: 5px;
    margin-right: 8px;
    vertical-align: bottom;
  }
  a {
    color: #EAA206;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    @include transition(border-bottom-color 0.75s);

    &:hover {
      border-bottom-color: #EAA206;
    }
  }
}

.list--items {
  color: #49676F;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
  padding-left: 0;
  margin-top: (16/18) * 1em;
}

.list--tick-bullets {
  @include pretty-bullets('icon-tick.png', $line-height: 30px);

  li {
    padding-left: image-width('icon-tick.png') + 18px;
  }
}
