// Icons
$icons: 'icons';
$icons-map: sprite-map('icons/*.png');
@include sprite-map-generator($icons, 'retina');

@each $icon in sprite-names($icons-map) {
  .icon-#{$icon} {
    @include replace-text-pe($icons, $icon, 'retina');
  }
}

[class^='icon'] {
  display: inline-block;
  vertical-align: top;
}

// Logos
$logos: 'logos';
@include sprite-map-generator($logos, 'retina');

@each $logo in frontkom {
  .logo-#{$logo} {
    @include replace-text-pe($logos, $logo, 'retina');
    display: inline-block;
  }
}

// Nav main
.nav--main {
  @include grid-span(7, 5);
  margin-top: 0.857143em;
  margin-bottom: 0.857143em;

  @include breakpoint($breakpoint-wide) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.menu--main {
  display: none;

  @include breakpoint($breakpoint-narrow) {
    display: block;
    font-family: $font-family-serif;
    font-size: 18px;
    line-height: 20px;

    li {
      float: left;
      margin-left: 8.5%;

      &:first-child {
        margin-left: 0;
      }
    }
    a {
      text-decoration: none;
      color: $color-dark-blue;
    }
    i {
      display: block;
      font-family: $font-family-sans;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      white-space: nowrap;
      color: lighten($color-dark-blue, 20%);
    }
  }
  @include breakpoint($breakpoint-wide) {
    font-size: 20px;
    letter-spacing: 0.025em;

    i {
      font-size: 15px;
    }
  }
}

// Search
.form--search {
  @include grid-span(1,12);
  position: relative;
  margin-top: 15px;

  input[type=text] {
    font-family: $font-family-serif;
    color: #A2C3CA;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 35px;
    padding: 0 35px 0 (35px/2);
    border: none;
    @include border-radius(54px/2);
    display: none;
  }

  input[type=submit] {
    float: right;
    position: relative;
    margin-top: -1px;
    z-index: 10;
    background-color: transparent;
    border: none;
  }
}

// Banner
.section-banner {
  background-image: image-url('top-banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);

  padding-top: 1px;
}

.block--banner {
  @include style-3dbox($bc: #BBD1D6, $bs: transparentize(#5A8995, 0.28), $bg: rgba(255,255,255,0.9));

  margin-top: 2.5em;
  margin-bottom: 2.75em;
  padding: 28px 35px;

  img {
    border: 4px solid #ececec;
    display: inline-block;
    vertical-align: top;
    @include border-radius(4px);
  }

  @include breakpoint($breakpoint-narrow) {
    @include grid-span(6, 7);
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(5, 8);
  }
}

.block--cta {
  @include style-3dbox($bw: 2px, $bc: #49676F, $bs: #5A8995, $bg: rgba(255,255,255,0.3));
  overflow: hidden;
  margin-bottom: (39/18) * 1em;

  h2 {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;

    a {
      color: #49676F;
      display: block;
      text-decoration: none;
      padding-top: 1.65em;
      padding-bottom: 1.5em;

      @include transition(background-color 0.5s);

      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }

  @include breakpoint($breakpoint-narrow) {
    @include grid-span(6, 1);

    h2 {
      font-size: 28px;

      a {
        padding-top: 1.125em;
        padding-bottom: 0.96em;
      }
    }
    .section-banner & {
      margin-top: 162px;
    }
  }
  @include breakpoint($breakpoint-wide) {
    h2 {
      font-size: 32px;
    }
  }
}

.links--banner {
  li:not(:first-child):before {
    content: '·';
    display: inline-block;
    font-weight: bold;
    color: #EAA206;
    font-size: 1.25em;
    margin-left: 5px;
    margin-right: 8px;
    vertical-align: bottom;
  }
  a {
    color: #EAA206;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    @include transition(border-bottom-color 0.75s);

    &:hover {
      border-bottom-color: #EAA206;
    }
  }

  @include breakpoint($breakpoint-narrow) {
    a {
      font-size: 15px;
    }
  }
  @include breakpoint($breakpoint-wide) {
    a {
      font-size: 16px;
    }
  }
}

.list--items {
  color: #49676F;
  line-height: (28/14) * 1em;
  letter-spacing: 0.05em;
  padding-left: 0;
  margin-top: (16/18) * 1em;

  @include breakpoint($breakpoint-narrow) {
    font-size: (14/14) * 1em;
  }
  @include breakpoint($breakpoint-normal) {
    font-size: (16/14) * 1em;
  }
  @include breakpoint($breakpoint-wide) {
    font-size: (18/14) * 1em;
  }
}

.list--tick-bullets {
  @include pretty-bullets('icon-tick.png', $line-height: 30px);

  li {
    padding-left: image-width('icon-tick.png') + 18px;
  }
}

// Content
.block--placeholder {
  min-height: 315px;
  background-color: #eee;
  text-align: center;

  h1 {
    margin-top: 3em;
  }
  @include breakpoint(max-width $breakpoint-narrow) {
    display: none;
  }
}

.block--events {
  padding-bottom: 1em;
  background-color: #FFFBF5;
  border: 1px solid #F6F0E6;
  @include border-radius(5px);
  @include box-shadow(inset 0px -2px 0px rgba(215,200,177,0.22), 0 2px 13px rgba(0,0,0,0.1));
}

.block--events-header {
  padding-top: 0.95em;
  padding-bottom: 0.95em;
  border-bottom: 1px solid #F6F0E6;

  .icon-calendar {
    margin-left: 5.75%;
    margin-right: 7.75%;
  }
  h2 {
    font-size: 20px;
    display: inline-block;
    margin-top: 0.33em;
    margin-bottom: 0.33em;

    a {
      color: $color-dark-blue;
      text-decoration: none;

      @include transition(color 0.5s);

      &:hover {
        color: darken($color-dark-blue, 15%);
      }
    }
  }
  > a {
    float: right;
    margin-top: 0.5em;
    margin-right: 5.75%;

    color: $color-warm-red;
    font-size: (12/14) * 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include transition(color 0.5s);

    i {
      margin-left: 4px;

      font-size: (15/12) * 1em;
      font-style: normal;
      font-weight: bold;
    }
    &:hover {
      color: darken($color-warm-red, 25%);
    }
  }
}

.block--events-article {
  @extend %clearfix;
  border-bottom: 1px solid #F6F0E6;
  @include transition(background-color 0.5s);

  &:hover {
    background-color: #F7F3ED;
  }
  header {
    @include grid-span(1, 1, (1 3));
    border-right: 1px solid #F8E7E7;

    text-align: center;

    h3 {
      margin: 0;
      padding-top: 1.3em;
      padding-bottom: 1.15em;
      padding-right: 6px;
      margin-right: -7px;

      border-right: 1px solid #F8E7E7;

      color: $color-warm-red;
      font-size: (18/14) * 1em;
    }
    time {
    }
    abbr {
      display: block;
      border: none;

      color: $color-dark-blue;
      font-size: (14/18) * 1em;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  p {
    @include grid-span(1, 2, (1 3));
  }
  a {
    display: table;
    color: $color-dark-blue;
    text-decoration: none;
  }
}

.icon-events {
  background-color: $color-warm-red;
  display: inline-block;
  width: 35px;
  height: 35px;
}


// Postscript
.section-postscript {}

.nav-tabs {
  ul {
    @include horizontal-list(2px);

    font-family: $font-family-serif;
  }
  a {
    display: block;
    padding: (18/20) * 1em (40/20) * 1em;
    border-left: 1px solid #EAEDEE;

    background-color: #5B767C;
    color: white;
    text-decoration: none;

    @include transition(background-color 0.5s);

    &:not(.link-active) {
      @include box-shadow(inset 0 -2px 2px rgba(0,0,0,0.2));
    }

    &:hover,
    &.link-active {
      background-color: $color-dark-blue;
    }
  }

  @include breakpoint($breakpoint-narrow) {
    ul {
      font-size: 20px;
    }
  }
}

.postscript--content {
  padding-top: 1px;

  @include box-shadow(0 -2px 2px rgba(0,0,0,0.21));
  background-color: $color-dark-blue;
  border-bottom: 5px solid #3A5158;

  color: white;
  font-size: (16/14) * 1em;
  line-height: (26/16) * 1em;

  article {
    margin-top: 1.9em;
    margin-bottom: 3.25em;
    padding-right: 10px;
  }
  .title {
    font-size: (20/16) * 1em;
    letter-spacing: 0.05em;
  }
  footer {
    a {
      color: #32D3FF;
      font-size: (12/16) * 1em;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;

      @include transition(color 0.5s);

      i {
        font-size: (14/12) * 1em;
        font-style: normal;
        margin-left: 4px;
      }
      &:hover {
        color: lighten(#32D3FF, 25%);
      }
    }
  }
  // #32D3FF
}

.tab--content {
  .js & {
    display: none;
  }
  &.is-active {
    display: block;
  }
}

// Bottom
.bottom--overlay {
  background-color: rgba(0,0,0,0.6);
}

.bottom--content {
  color: white;
  padding-top: 2.85em;
  padding-bottom: 0.55em;

  .title {
    margin-top: 0;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;

    i {
      margin-right: 11px;
      margin-top: -1px;
      vertical-align: middle;
    }
  }
  a {
    color: white;
    text-decoration: none;
    @include transition(color 0.5s);

    &:hover {
      color: #EAA208;
    }
  }
}

.block--bottom {
  margin-bottom: 2.35em;

  ul {
    list-style-type: none;
    list-style-image: none;
  }
}

.block--social-media {
  @include breakpoint(max-width $breakpoint-narrow) {
    .l-list--inline {
      display: block;

      li:before {
        content: '.';
        display: inline-block;
        margin-left: 5px;
        margin-right: 7px;
        padding-top: 3px;
        vertical-align: top;
        line-height: 1;
      }
      li:first-child:before {
        display: none;
      }
    }
  }
  @include breakpoint($breakpoint-narrow) {
    @include grid-span(4, 1);

    .l-list--inline,
    .l-list--inline li {
      display: block;
    }
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(6, 1);

    .l-list--inline {
      display: block;

      li {
        display: inline-block;
      }
      li:before {
        content: '.';
        display: inline-block;
        margin-left: 8px;
        margin-right: 10px;
        padding-top: 3px;
        vertical-align: top;
        line-height: 1;
      }
      li:first-child:before {
        display: none;
      }
    }
  }
}

.links--social-media {
  @include horizontal-list(0);
  margin-bottom: 2.3em;

  li {
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.block--nav-bottom {
  @include grid-span(6, 1);

  @include breakpoint($breakpoint-narrow) {
    @include grid-span(4, 5);
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(3, 7);
  }
}

.block--nav-student {
  @include grid-span(6, 7);

  @include breakpoint($breakpoint-narrow) {
    @include grid-span(4, 9);
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(3, 10);
  }
}

.block--nav-classroom {
  clear: both;

  .title a {
    color: #EAA208;
    @include transition(color 0.5s);

    &:hover {
      color: darken(#EAA208, 10%);
    }
  }

  @include breakpoint($breakpoint-narrow) {
    @include grid-span(8, 5);
    clear: both;
  }
  @include breakpoint($breakpoint-wide) {
    @include grid-span(6, 7);
    clear: both;
  }
}

// Footer
.footer {
  padding-top: 1.35em;
  padding-bottom: 1.35em;

  ul {
    font-size: 12px;

    address {
      display: inline;
      font-style: normal;
    }
    br {
      display: none;
    }
    span {
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid white;
    }
    li {
      margin-left: 5px;
      padding-left: 5px;
      border-left: 1px solid white;
    }
    li:first-child {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: $color-warm-red;
    }
  }
  .credit {
    float: right;
    vertical-align: middle;
  }

  @include breakpoint(max-width $breakpoint-narrow) {
    ul li {
      display: block;
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
  }
  @include breakpoint(max-width $breakpoint-wide) {
    ul li:last-child {
      display: block;
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
    .credit {
      margin-top: 1em;
    }
  }
}
