// Compass vertical rhythm
$base-font-size:   14px;
$base-line-height: 26px;

// Singularity
$grids:   12;
$gutters: 1/3;

// Breakpoints
$breakpoint-narrow: 750px;
$breakpoint-normal: 800px;
$breakpoint-wide:   970px;

// Fonts
$font-family-sans:  'Lato', 'Open Sans', Helvetica, sans-serif;
$font-family-serif: 'Bree Serif', Georgia, serif;

// Colors
$color-light-blue: #CDEBF1;
$color-dark-blue:  #49676F;
$color-warm-red:   #DD4635;
